# Delphi - Arquivos temporários e binários
*.~*
*.dcu
*.~pas
*.~dfm
*.ddp
*.map
*.bak
*.dsk
*.local
*.identcache
*.tvsconfig
__history/
__recovery/
*.dproj.local
*.stat
*.dproj.bak
*.cfg
*.log
*.dof
*.tpu

# Output folders
Win32/
Win64/
Debug/
Release/

# Executáveis e bibliotecas
*.exe
*.dll
*.bpl
*.tds
*.drc
*.res
*.rsm 
